 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25)), url("images/5067058-physics-wallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 800px;
  margin: 57px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 112px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  min-height: 306px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/661230243-0.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 24px 0 0 4px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/Heat_logo.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 24px 0 0 4px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 24px 0 0 4px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 24px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25)), url("images/technology-physics-and-chemistry-chemistry-hd-wallpaper-thumb.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 800px;
  margin: 99px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 95px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  min-height: 306px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_3.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 19px 32px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_4.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 19px 32px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_5.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 19px 32px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_6.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 19px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 173px;
    margin-right: initial;
    margin-left: initial;
  }
}