 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25)), url("images/classical.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 800px;
  margin: 57px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 67px;
  margin-bottom: 54px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  min-height: 702px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_9.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 38px 4px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_10.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 38px 4px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_14.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 38px 4px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_12.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 38px 4px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_13.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 38px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 772px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,0.25), rgba(44,204,196,0.25)), url("images/wallpapersden.com_molecules-atoms-chemistry_2560x1080.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 930px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  width: 800px;
  margin: 99px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 95px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  min-height: 306px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_15.jpg");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 1px 32px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/NatCopper.jpg");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 1px 32px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_16.jpg");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 1px 32px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/Screenshot_17.jpg");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-style: italic;
  font-weight: 700;
  margin: 1px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3.4375rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 173px;
    margin-right: initial;
    margin-left: initial;
  }
}